/* Estilos gerais para o desktop */
* {
    margin: 0;
    padding: 0;
 
}

button, a, .menu i, .submenu ul li {
    outline: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    overflow: hidden; /* Adiciona para evitar rolagem no desktop */
}

.container {
    display: flex;
    max-width: 1100px;
    height: 70vh;
    margin: 5rem auto;
    
    gap: 7rem;
    font-size: 1.2rem;
}


.menudeskshow a {
    text-decoration: none;
    color: #fff;
}

.menudeskshow {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    margin-right: 7rem;
    z-index: 20000;
    
}

.menudesktop {
    width: 1000px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}



.logo {
width: 100px;
}

.logomobile img {
    display: none;
    position: absolute;
    width: 80px;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

.model3d {
    width: 500px;
    max-width: 500px;
    display: flex;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(217, 181, 101, 0.3);
    position: relative;
}

.model3d model-viewer {
    width: 500px;
    height: 700px;
    transition: all 1s ease;
    background-color: transparent;
}

.select {
    padding: 1rem;
    background-color: #F6F6F6;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.model-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
    font-weight: bold;
    color: #fff;
 }

 .model-btn img {
    width: 50px;
 }

.btns button {
    width: 100px;
    height: 50px;
    z-index: 4000;
    border: 1px solid #D9B565;
    border-radius: 14px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    color: #D9B565;
}

.btns button.active {
    background-color: #D9B565;
    color: #fff;
}

.models button {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #d4d4d4;
    border: none;
    border-radius: 14px ;
    cursor: pointer;
    width: 75px;
}

.models button.active {
    background-color: #D9B565;
    border-radius: 14px;
    padding: 0.5rem;
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease;
}

.models {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#share {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: gray;
    padding: 0.1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 6000;
}

.share-options {
    display: none;
    transition: .5s;
  
}

.share-options.active {
    display: block;
    animation: showup .6s forwards ease;
}

@keyframes showup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.social-media {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    color: #fff;
    bottom: -55px;
    cursor: pointer;
    
}



.social-media:nth-child(1) {
    position: absolute;
    right: -30px;
    background-color: #25D366;
}

.social-media:nth-child(2) {
    position: absolute;
    right: 30px;
    background-color: #1877F2;
}

.reset {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(217, 181, 101, 1);
    border: none;
    cursor: pointer;
    border-radius: 14px;
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
}

.pedra-btn {
    border: none;
    width: 100px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #d4d4d4;
    padding: 1rem;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.pedra-btn.active {
    background-color: #D9B565;
    border-radius: 14px;
    padding: 0.5rem;
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease;
}



.card.hide {
    display: none;
}

.pedra-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.action {
    display: flex;
    justify-content: space-around;
}

.action button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.model-btn {
    padding: 5px 7px;
}

.menu {
    display: none;
}
.submenu {
    background-color: gray;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 70vw;
    display: none;
    
  

}

.action button:first-child {
    color:#D9B565;
    border: 1px solid #D9B565;
}

#send {
    background-color: #D9B565;
    border: none;
    color: #fff;
    padding: 0.5rem 2rem;
}

input[type="range"] {
    width: 200px;
    height: 20px;
    appearance: none;
    outline: none;
    border-radius: 10px;
    z-index: 2000;
    background-color: #d4d4d4;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 30px;
    background-color:#D9B565;
    border-radius: 50%;
    cursor: pointer;
}

.tamanho {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamanho img {
    width: 250px;
    position: absolute;
    bottom: -130px;
    left: 50%;
    transform: translate(-50%);
}

.menudeskshow li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff; /* Cor do texto */
    padding: 5px 0;
    transition: color 0.3s ease;
}

.menudeskshow li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Altura da barra */
    background-color: #D9B565; /* Cor da barra */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.menudeskshow li a:hover::after {
    width: 100%; /* Faz a barra crescer para o tamanho do texto */
}

.menudeskshow li a:hover {
    color: #D9B565; /* Cor do texto ao passar o mouse, opcional */
}


/* Estilos para o responsivo no mobile */
@media screen and (max-width: 960px) {
    .container {
        gap: 2rem;
      
    }

    .model3d {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 700px) {
    body, html {
        overflow-x: hidden; /* Evita rolagem horizontal no mobile */
        overflow-y: hidden;
        max-height: 100vh;
        
    }

    .model3d {
        margin-left: 0;
    }
    .menudesktop {
        display: none;
    }

    .menu {
        font-size: 35px; /* Tamanho do ícone */
        cursor: pointer;
        padding: 15px;
        position: relative;
        display: block;
        float: right;
    }
    
    .menu i {
        color: gray; /* Cor do ícone */
    }

    .submenu {
        background-color:#212121;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        display: none;
        
      
    
    }

  

    .logomobile img {
        display: block;
    }
     
    .close {
          position: absolute;
          right: 300px;
          top: 20px;
          font-weight: bold;
          color: red;
          z-index: 30000;
    }
    .submenu.showup {
        display: block;
        z-index: 7000;
        animation: appear .5s forwards ease;
    }

    @keyframes appear {
        from {
            transform: translateX(1000px);
        }

        to {
            transform: translateX(-150px);
        }
    }

    .submenu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
       
         
        margin: 0;
        margin-top: 5rem;
        padding-left: 1rem;
        padding-right: 2rem;
        
        gap: 2rem;
    }

    .shadow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
        z-index: 6000; /* O overlay fica abaixo do submenu */
    }

    .shadow.showup {
        display: block;
    }

    .submenu ul li  {
        cursor: pointer;
      
    }

    .submenu a {
        text-decoration: none;
        color: #fff;
    }

   

    .container {
        flex-direction: column;
        justify-content: center;
        gap:1rem;
        height: 80vh;
        width: 100%;
        
        
    }
     
    .select {
        width: 80%;
        height: 340px;
        align-self: center;
    }

    
     
    .select .model-btn img {
        width: 40px;
        margin-top: 5px;
    }
    
    

    .btns {
        flex-direction: row;
        gap: 10px;
        z-index: 4000;
    }

    .btns button {
        font-size: 14px;
        padding: 10px 15px;
        width: auto;
    }

    .models,
    .pedra-options {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .models img,
    .pedra-options img {
        width: 60px;
    }

    .pedra-btn {
        height: 120px;
        width: 120px;
    }

    .action button {
        font-size: 16px;
    }

    .model3d model-viewer {
        width: 100%;
        height: 300px;
        transition: all 1s ease;
        background-color: transparent;
    }

    .model3d {
        height: auto;
        width: 90%;
        align-self: center;
        margin-top: 3rem;
    }

    .social-media:nth-child(1) {
        position: absolute;
        right: 20px;
        background-color: #25D366;
    }
    
    .social-media:nth-child(2) {
        position: absolute;
        right: 80px;
        background-color: #1877F2;
    }

    .tamanho img {
        width: 250px;
        bottom: -150px;
    }
}
