/* Estilos gerais para o desktop */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    overflow: hidden; /* Adiciona para evitar rolagem no desktop */
}

.container {
    display: flex;
    max-width: 1100px;
    height: 70vh;
    margin: 5rem auto;
    gap: 7rem;
    font-size: 1.2rem;
}

.model3d {
    width: 500px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(63, 63, 63);
    position: relative;
}

.model3d model-viewer {
    width: 500px;
    height: 700px;
    transition: all 1s ease;
    background-color: transparent;
}

.select {
    padding: 1rem;
    background-color: gray;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.btns button {
    width: 100px;
    height: 50px;
    background-color: gray;
    border: none;
    border-radius: 14px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btns button.active {
    background-color: #212121;
}

.models button {
    background-color: gray;
    border: none;
    cursor: pointer;
}

.models button.active {
    background-color: #212121;
    border-radius: 14px;
    padding: 0.5rem;
}

.models {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#share {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: gray;
    padding: 0.1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10000;
}

.share-options {
    display: none;
    transition: .5s;
}

.share-options.active {
    display: block;
    animation: showup .6s forwards ease;
}

@keyframes showup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.social-media {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    color: #fff;
    bottom: -55px;
    cursor: pointer;
}

.social-media:nth-child(1) {
    position: absolute;
    right: -30px;
    background-color: #25D366;
}

.social-media:nth-child(2) {
    position: absolute;
    right: 30px;
    background-color: #1877F2;
}

.reset {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: gray;
    border: none;
    cursor: pointer;
    border-radius: 14px;
    padding: 0.5rem;
    color: #fff;
}

.pedra-btn {
    border: none;
    background-color: gray;
    cursor: pointer;
}

.pedra-btn.active {
    background-color: #212121;
    border-radius: 14px;
    padding: 0.5rem;
}

.card.hide {
    display: none;
}

.pedra-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.action {
    display: flex;
    justify-content: space-around;
}

.action button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.action button:first-child {
    background-color: gray;
    border: 1px solid #fff;
}

#send {
    background-color: #212121;
    border: none;
    padding: 0.5rem 2rem;
}

input[type="range"] {
    width: 200px;
    height: 20px;
    appearance: none;
    outline: none;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 30px;
    background-color:rgb(65, 65, 65);
    border-radius: 50%;
    cursor: pointer;
}

.tamanho {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamanho img {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

/* Estilos para o responsivo no mobile */
@media screen and (max-width: 960px) {
    .container {
        gap: 2rem;
    }
}

@media screen and (max-width: 700px) {
    body, html {
        overflow-x: hidden; /* Evita rolagem horizontal no mobile */
        overflow-y: hidden;
        max-height: 100vh;
        
    }

    .container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        height: 80vh;
        width: 100%;
    }
     
    .select {
        width: 80%;
        height: 400px;
        align-self: center;
    }

    .btns {
        flex-direction: row;
        gap: 10px;
    }

    .btns button {
        font-size: 14px;
        padding: 10px 15px;
        width: auto;
    }

    .models,
    .pedra-options {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .models img,
    .pedra-options img {
        width: 60px;
    }

    .action button {
        font-size: 20px;
    }

    .model3d model-viewer {
        width: 100%;
        height: 300px;
        transition: all 1s ease;
        background-color: transparent;
    }

    .model3d {
        height: auto;
        width: 90%;
        align-self: center;
    }

    .social-media:nth-child(1) {
        position: absolute;
        right: 20px;
        background-color: #25D366;
    }
    
    .social-media:nth-child(2) {
        position: absolute;
        right: 80px;
        background-color: #1877F2;
    }
}
